@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";

@plugin "tailwind-scrollbar";

@theme {
    --font-*: initial;
    --font-poppins: Poppins, system-ui, sans-serif;
    --color-border: var(--border);
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    :root {
        --background: #ffffff;
        --foreground: #0c1420;
        --card: #f1f5f9;
        --card-foreground: #000000;
        --muted: #cfd9e5;
        --muted-foreground: #64748b;
        --destructive-foreground: #fafafa;
        --border: #e2e8f0;
    }

    [data-theme='rose'],
    .theme-rose {
        --primary: var(--color-rose-600);
        --destructive: var(--color-rose-700);
        --primary-foreground: #ffffff;
    }

    [data-theme='amber'],
    .theme-amber {
        --primary: var(--color-amber-500);
        --destructive: var(--color-amber-600);
        --primary-foreground: #ffffff;
    }

    [data-theme='sky'],
    .theme-sky {
        --primary: var(--color-blue-500);
        --destructive: var(--color-blue-600);
        --primary-foreground: #ffffff;
    }

    .dark[data-background='neutral'],
    .background-neutral {
        --background: var(--color-neutral-900);
        --card: var(--color-neutral-800);
        --card-foreground: var(--color-neutral-600);
        --muted: var(--color-neutral-600);
        --muted-foreground: var(--color-neutral-400);
        --border: var(--color-neutral-600);
    }

    .dark[data-background='slate'],
    .background-slate {
        --background: var(--color-slate-900);
        --card: var(--color-slate-800);
        --card-foreground: var(--color-slate-600);
        --muted: var(--color-slate-600);
        --muted-foreground: var(--color-slate-400);
        --border: var(--color-slate-600);
    }
}

:root {
    color: var(--foreground);
}
